@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin: 20px auto;
  max-width: 350px;
  font-family: 'Poppins','Montserrat';
}
body {
  font-family: 'Poppins', 'Montserrat';
  font-size: 18px;
  color: black;
}
form {
  color: white;
  margin: auto 25px;
  padding: 15px auto;
  border: 3px solid white;
  text-align: center;
  width: 90%;
  max-width: 500px;
  background-color: #E15D44;
}
fieldset {
  border: 0 none;
  height: 100%;
  padding: 25px;
  margin: 10px 20px;
}
label {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}
input {
  display: block;
  font-size: 2.5rem;
  width: 100%;
  height: 60px;
  padding: 6px 12px;
  margin: 10px 0;
  line-height: 1.4;
  color: black;
}
button {
  cursor: pointer;
  margin-top: 15px;
  text-decoration: none;
  background-image: linear-gradient(#EFC050, #EFC050);
  border: 3px solid #EFC050;
  padding: 10px 16px;
  font-size: 23px;
  width: 100%;
  font-family: 'Montserrat';
  color: white;
}
.output {
  color: #E15D44;
  background-color: white;
  border: 3px solid white;
  font-size: 2.5rem;
  width: 90%;
  max-width: 500px;
  min-height: 55px;
  margin-top: 25px;
  padding: 15px;
  overflow-wrap: break-word;
  text-align: center;
}